@font-face {
	font-family: 'a_AvanteInt';
	src: url('ava_ibk.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'a_AvanteInt';
	src: url('ava_ib.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'a_Concepto';
	src: url('conc.ttf');
	font-weight: bold;
	font-style: normal;
}

body, html, div, h1, ul, li, input, textarea, td, tr {
	margin:0; padding:0;border:none;font-family: inherit;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
}

select, input[type=text], input[type=submit], textarea {
	border-radius: 5px;
	outline: none;
}

.no-mr {
	margin-right: 0 !important;
}

.no-bg {
	background-image: none !important;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.w-clear {
	overflow: hidden;
}

.clear {
	clear: both;
}

.invisible {
	display: none;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ecf1fb;
}

a:active {
	color: #e4e9fc;
}

body {
	background: url("/images/top-bg.png") repeat-x center 0;
	font-family: "a_AvanteInt";
}


.header {
	background: url("/images/header-top-bg.png") no-repeat center;
	height: 176px;
}

	.header-box {
		width: 1005px;
		margin: 0 auto;
	}
	
		.header-logo {
			margin-left: 14px;
			float: left;
		}
		
		.main-title {
			padding-left: 5px;
			font-size: 47px;
			float: left;
			width: 445px;
			color: #1c0300;
			text-align: center;
			padding-top: 36px;
			text-transform: uppercase;
			letter-spacing: -0.6px;
			line-height: 53px;
		}
		
		.header-contacts {
			float: right;
			width: 348px;
			padding-top: 24px;
		}
		
			.header-contacts a {
				color: #000;
			}
		
			.header-contacts .free-phone,
			.header-contacts .city-phone,
			.header-contacts .header-email-text {
				float: left;
				width: 175px;
			}
			
			
			.free-phone-text a {
				font-size: 17px;
				font-weight: bold;
				color: red;
				margin-top: 1px;
				display: block;
				float: left;
			}
			
			.city-phone-text a {
				font-size: 24px;
				font-weight: bold;
				color: red;
				margin-top: -5px;
				display: block;
				float: left;
			}
			
			.header-email-text {
				color: #000;
				margin-top: 3px;
				margin-right: 3px;
			}
			
			.header-email a {
				display: block;
				font-size: 19px;
			}
			
			.free-phone,
			.city-phone {
				font-size: 20px;
				margin-bottom: 8px;
			}
			
			.header-feedback {
				margin-top: 7px;
				position: relative;
			}
			
				.header-feedback label {
					position: absolute;
					top: 2px;
					left: -147px;
					border: 1px solid red;
					padding: 2px 9px;
					border-radius: 0px 14px 14px 0px;
					background: rgba(255, 184, 184, 0.31);
				}
				
				.header-feedback .error{
					background: rgba(255, 184, 184, 0.31);
				}
			
			.feedback-phone {
				width: 156px;
				background: #fff;
				padding-left: 0px;
				font-size: 19px;
				padding-top: 5px;
				padding-bottom: 2px;
			}
			
			.feedback-submit {
				background: url("/images/feedback-but.png") 0 -33px;
				height: 33px;
				width: 188px;
				float: right;
				font-size: 21px;
				color: #fff;
				cursor: pointer;
			}
			
			.feedback-submit:hover {
				background-position: 0 0px;
			}
			
			.feedback-submit:active {
				background-position: 0 -66px;
			}
			
	.models {
		background: url("/images/models-bg.png") no-repeat center;
		height: 458px;
		margin-top: -11px;
	}
	
		.models-container {
			width: 1020px;
			margin: 0 auto;
			padding-top: 23px;
			padding-left: 20px;
		}
		
		.cnc-model {
			padding-bottom: 5px;
			margin-bottom: 20px;
			float: left;
			width: 494px;
			padding-top: 9px;
			overflow: hidden;
			padding-left: 2px;
			margin-right: 11px;
			
			border-radius: 10px 10px 10px 10px;
			-moz-border-radius: 10px 10px 10px 10px;
			-webkit-border-radius: 10px 10px 10px 10px;
			border: 0px solid #000000;
			
			background: #f3f3f3; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #f3f3f3 0%, #e8e8e8 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f3f3f3), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #f3f3f3 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #f3f3f3 0%,#e8e8e8 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #f3f3f3 0%,#e8e8e8 100%); /* IE10+ */
			background: linear-gradient(45deg,  #f3f3f3 0%,#e8e8e8 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
		
			.model-image {
				margin-top: 3px;
				float: left;
				border: 1px solid #d6d6d6;
				overflow: hidden;
				border-radius: 21px;
			}
			
				.model-image img {
					float: left;
				}
			
			.model-tech {
				width: 277px;
				float: left;
				margin-left: 4px;
				color: #000;
			}
			
			.model-title {
				margin-bottom: 10px;
				text-align: center;
				font-weight: bold;
				line-height: 16px;
			}
			
			.model-name {
				text-align: center;
				font-size: 19px;
			}
			
			.tech-table {
				font-size: 11.3px;
				margin-bottom: 4px;
			}
			
				.tech-table td {
					background: #fff;
					padding: 4px 7px 1px 9px;
				}
				
			.model-price {
				margin-left: 12px;
				margin-bottom: 7px;
			}
			
				.price-title {
					margin-top: 3px;
					font-size: 11px;
					font-weight: bold;
					float: left;
				}
				
				.price {
					color: red;
					float: left;
					font-size: 14px;
					font-weight: bold;
					margin-left: 23px;
				}
				
				.model-order {
					float: right;
					background: url("/images/model-order-bg.png") no-repeat 0 -20px;
					width: 84px;
					height: 20px;
					text-align: center;
					display: block;
					font-size: 14px;
					line-height: 19px;
					cursor: pointer;
				}
				
				.model-order:hover {
					background-position: 0 0px;
				}
				
				.model-order:active {
					background-position: 0 -40px;
				}
				
				.model-more {
					margin-left: 4px;
					color: #ccc;
				}
				
					.model-charac-but {
						float: left;
						cursor: pointer;
						background: url("/images/model-charact.png") no-repeat 0 0;
						font-size: 11px;
						color: #222;
						width: 187px;
						text-align: center;
						height: 17px;
						font-weight: bold;
						line-height: 18px;
						display: block;
					}
					
					.model-charac-but:hover {
						background-position: 0 -17px;
					}
					
					.model-charac-but:active {
						background-position: 0 -34px;
					}
					
					.model-match-but {
						cursor: pointer;
						background: url("/images/model-match.png") no-repeat 0 0;
						font-size: 11px;
						color: #222;
						width: 83px;
						text-align: center;
						float: right;
						height: 17px;
						font-weight: bold;
						line-height: 18px;
						display: block;
						cursor: pointer;
					}
					
					.model-match-but:hover {
						background-position: 0 -17px;
					}
					
					.model-match-but:active {
						background-position: 0 -34px;
					}
					
		.other-models {
			background: url("/images/other-models-bg.png") no-repeat center 0;
			height: 587px;
			padding-top: 27px;
		}
		
			.other-main-title {
				margin-bottom: 53px;
			}
			

			
			.block-title {
				color: #000;
				font-size: 42px;
				font-weight: bold;
			}
		
			.other-models-container {
				width: 1000px;
				margin: 0 auto;
			}
			
			.other-models-wrap {
				margin-bottom: 50px;
			}
			
			.other-model {
				float: left;
				width: 250px;
				margin-right: 0px;
				text-align: center;
			}
			
			.other-image {
				margin-bottom: 4px;
			}
			
			.other-title {
				font-size: 18px;
				line-height: 22px;
				font-weight: bold;
				padding-bottom: 6px;
			}
			
			.other-order {
				background: url("/images/other-order.png") no-repeat 0 0;
				line-height: 28px;
				height: 28px;
				cursor: pointer;
				font-size: 17px;
				width: 199px;
				margin: 0 auto;
				display: block;
				color: #000;
			}
			
			.other-order:hover {
				background-position: 0 -28px;
				color: #000;
			}
			
			.other-order:active {
				margin-top: 1px;
				background-position: 0 -56px;
				margin-bottom: -1px;
			}
			
		.other-model-choose {
			font-size: 35px;
			font-weight: bold;
			text-align: center;
			padding: 0 20px;
			line-height: 38px;
			padding-bottom: 25px;
		}
		
		.other-choose-order {
			background: url("/images/other-choose-order.png") no-repeat 0 -38px;
			height: 38px;
			line-height: 40px;
			font-size: 22px;
			width: 270px;
			margin: 0 auto;
			text-align: center;
			font-weight: bold;
			letter-spacing: 0.2px;
			color: #fff;
			cursor: pointer;
			display: block;
		}
		
		.other-choose-order:hover {
			background-position: 0 0
		}
		
		.other-choose-order:active {
			margin-top: 1px;
			background-position: 0 -76px
		}
	
	.detail-block {
		background: url("/images/detail-bg.png") no-repeat center 0;
		height: 742px;
		padding-top: 51px;
	}
	
		.detail-block-container {
			width: 1047px;
			margin: 0 auto;
			background: url("/images/detail-block-container.png") no-repeat;
			padding: 19px 22px 23px 23px;
			box-sizing: border-box;
		}
		
			.detail-block-title {
				font-size: 24px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: -0.2px;
				float: left;
				margin-bottom: 18px;
				margin-left: 106px;
				margin-right: 54px;
			}
			

			.select-wrap {
				position:relative;
				overflow:hidden;
			}
			
			
			
			.select-wrap .controls {
				border: 1px solid #c1c1c1;
				padding: 1px;
				color: #262626;
				line-height: 30px;
				font-size: 24px;
				height: 28px;
				border-radius: 8px;
			}
			
			.detail-select {
				width: 262px;
				text-align: center;
			}
			
			.option-select .controls {
				font-size: 14px;
				height: 17px;
				line-height: 18px;
				padding-left: 4px;
			}
			
			.select-wrap .controls .label {
				padding: 0 18px 0 6px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				letter-spacing: -1px;
			}
			
			.select-wrap .controls .arrow {
				float: right;
				width: 18px;
				height: 12px;
				background: url('/images/select-arrows.png') no-repeat;
				margin-top: 8px;
				margin-right: 5px;
			}
			
			.option-select .controls .arrow {
				background: url('/images/option-select-arrow.png') no-repeat;
				margin-top: 5px;
				width: 11px;
			}
			
			.select-wrap select {
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				margin:0;
				border:0;
				padding:0;
				opacity:0;
				filter:alpha(opacity=0);
			}
			
			.detail-main-image {
				border: 1px solid #b3b3b3;
				border-radius: 29px;
				margin-bottom: 6px;
			}
			
				.detail-main-image img {
					float: left;
				}
			
			
			.detail-images {
				text-align: center;
				float: left;
				width: 316px;
				margin-right: 18px;
			}
			
			.detail-title {
				margin-bottom: 13px;
				font-size: 19px;
				font-weight: bold;
				text-align: center;
			}
			
			.detail-thumbs {
				border: 1px solid #b3b3b3;
				padding-top: 3px;
				border-radius: 11px;
				padding-bottom: 3px;
			}
			
				.detail-thumb {
					float: left;
					background: url("/images/detail-thumb-separator.png") no-repeat right center;
					padding-right: 1px;
				}
				
					.detail-thumb img {
						float: left;
						
					}
					
		.detail-tech {
			float: left;
			width: 270px;
		}
		
			.detail-tech-table {
				font-size: 11px;
				font-weight: bold;
				line-height: 22px;
			}
			
			table tr:nth-child(odd) td {
				background: #f7f7f7;
			}
			
			table tr:nth-child(even) td {
				background: #ffffff;
			}
			
			.detail-tech-table td:nth-child(odd) {
				padding-left: 9px;
				width: 119px
			}

			.detail-tech-table td:nth-child(even) {
				padding-left: 6px;
				width: 121px;
			}
			
		.detail-video-block {
			float: right;
		}
		
			.detail-video-block iframe {
				margin-bottom: 9px;
			}
		
			.detail-price-title {
				float: left;
				font-weight: bold;
				font-size: 19px;
				margin-top: 8px;
			}
			
			.detail-price {
				float: left;
				color: red;
				font-weight: bold;
				font-size: 25px;
				margin-left: 29px;
			}
			
			.detail-buy-button {
				float: right;
				background: url("/images/detail-buy-but.png") no-repeat 0 -30px;
				width: 78px;
				height: 25px;
				color: #fff;
				margin-top: 3px;
				font-weight: bold;
				padding-left: 19px;
				padding-top: 5px;
				font-size: 19px;
				cursor: pointer;
				display: block;
			}
			
			.detail-buy-button:hover {
				background-position: 0 0px;
			}
			
			.detail-buy-button:active {
				margin-top: 4px;
				margin-bottom: -1px;
				background-position: 0 -60px;
			}
			
			.detail-price-wrap {
				padding-bottom: 15px;
			}
			
			.detail-price-more {
				color: #000;
				cursor: pointer;
				background: url("/images/detail-more-bg.png") no-repeat 0 0;
				height: 32px;
				width: 100%;
				text-align: center;
				line-height: 29px;
				font-weight: bold;
				font-size: 19px;
				display: block;
			}
			
			.detail-price-more:hover {
				background-position: 0 -32px;
			}
			
			.detail-price-more:active {
				margin-top: 1px;
				background-position: 0 -64px;
			}
			
	.detail-options {
		width: 1015px;
		margin: 0 auto;
	}
	
		.detail-options-title {
			margin-bottom: 20px;
			font-size: 28px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: -0.2px;
			text-align: center;
			padding-top: 65px;
			background: url("/images/detail-separator-line.png") no-repeat 0 26px;
		}
		
		.detail-options-table {
			font-size: 13px;
			float: left;
			font-weight: bold;
		}
		
			.detail-options-table td {
				padding-left: 8px;
				padding-top: 6px;
				padding-bottom: 6px;
				padding-right: 7px;
			}
			
		.detail-options-notice {
			float: right;
			width: 401px;
		}
		
			.notice-text {
				font-size: 15px;
				font-weight: bold;
				padding-top: 5px;
				text-align: center;
				letter-spacing: -0.5px;
				line-height: 16px;
				padding-bottom: 18px;
			}
			
			.notice-button {
				text-align: center;
				font-size: 18px;
				background: url("/images/notice-button-bg.png") no-repeat;
				width: 306px;
				height: 32px;
				line-height: 31px;
				margin: 0 auto;
				cursor: pointer;
				display: block;
				color: #000;
			}
			
			.notice-button:hover {
				background-position: 0 -32px;
			}
		
			.notice-button:active {
				margin-top: 1px;
				background-position: 0 -64px;
			}
	
	
.matching-block {
	height: 678px;
	background: url("/images/matching-block-bg.png") no-repeat center 0;
	padding-top: 50px;
}

	.matching-container {
		width: 1000px;
		margin: 0 auto;
	}
	
		.matching-container-title {
			font-size: 33px;
			text-align: center;
			margin-bottom: 38px;
		}
	
		.match-table {
			
		}
		
		.match-table .row:nth-child(even) .row-item,
		.match-table .row:nth-child(even) .first {
			background: #f7f7f8;
		}
		
		.match-table .row:nth-child(odd) .row-item,
		.match-table .row:nth-child(odd) .first {
			background: #fff;
		}
		
		.match-table .row {
			line-height: 14px;
			font-size: 14px;
		}
		
		.match-table .row.two-line .first,
		.match-table .row.two-line .row-item {
			height: 46px;
		}
		
			.match-table .row-item {
				padding: 4px 0 4px 6px;
				float: left;
				width: 193px;
				background: #fff;
				margin-right: 7px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
		
			.match-table .first {
				float: left;
				padding:4px 0 4px 6px;
				font-weight: bold;
				width: 196px;
				margin-right: 7px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}

			.match-image {
				border-radius: 18px;
				border: 1px solid #b3b3b3;
				float: left;
				padding: 0px;
				margin: 9px 13px 8px 5px;
				width: 172px;
				height: 160px;
				background: #fff;
			}
			
				.match-image img {
					margin: 0 auto;
					display: block;
					padding-top: 5px;
				}
				
			.match-table .first-row .row-item, .match-table .first-row .first-image {
				height: 185px;
				line-height: 16px;
			}
			
			.match-table .first-row .first-image {
				padding-top: 63px;
				border-radius: 30px 0 0 0;
			}
			
			.match-table .row.end-row {
				border-radius: 0 0 0 28px;
			}
	
	
.products-block {
	background: url("/images/products-bg.png") no-repeat center 0;
	height: 1084px;
	padding-top: 33px;
}
	
	.products-container {
		margin: 0 auto;
		width: 1000px;
		margin-bottom: 61px;
	}
	
		.products-container-title {
			font-size: 33px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 6px;
		}
	
	
		.products-table {
			vertical-align: top;
			margin: 0 auto;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
		}
		
		.products-table td {
			background: #fff !important;
			width: 143px;s
		}
		
		.products-table-title {
			margin-bottom: 16px;
		}
		
		.products-gallery-container {
			width: 1053px;
			padding-top: 15px;
			margin: 0 auto;
			padding-left: 1px;
			background: url("/images/gallery-bg.png") no-repeat 6px 0px;
			height: 784px;
		}
		
		.products-gallery-container .products-container-title {
			margin-bottom: 38px;
		}
	
	
.gallery {
	margin-bottom: 65px;
}

.gallery-title {
	background: url("/images/gallery-title-bg.png") no-repeat center;
	height: 48px;
	padding: 15px 0;
	margin-bottom: 58px;
}

#gallery {
	width: 1000px;
	margin: 0 auto;
}

#gallery img {
	height: 142px;
	-webkit-box-shadow: 0px 0px 9px 5px rgba(50, 50, 50, 0.24);
	-moz-box-shadow: 0px 0px 9px 5px rgba(50, 50, 50, 0.24);
	box-shadow: 0px 0px 9px 5px rgba(50, 50, 50, 0.24);
}


	#gallery li{
		list-style:none;
		perspective:100px;
		-webkit-perspective:100px;
		margin:1px;
		float: left;
		position:relative;
		transition:.1s;
		-webkit-transition:0.1s;
		margin-bottom: 17px;
		margin-right: 21px;
	}
		
		
		#gallery a{ display:block; vertical-align:bottom;
					transition:.4s ease-out; -webkit-transition:0.4s ease-out; -webkit-transform:rotateX(90deg) translate(-50px,-50%); transform:rotateX(90deg) translate(-50px,-50%); }
		#gallery a:active, #gallery a:focus{ outline:none; }
		#gallery a img{ min-height: 100%; width: 182px; transition: .3s ease-out; -webkit-transition: 0.3s ease-out; height: 142px; }
		#gallery .loaded a{ -webkit-transform:rotateX(0deg) translate(0,0); transform:rotateX(0deg) translate(0,0); }
			#gallery li.loaded:hover{ z-index:2; transform:scale(1.1); -webkit-transform:scale(1.1); }
			#gallery li.loaded a:hover{ box-shadow:0 0 0 2px #FFF, 0 0 20px 5px #000; transition:.1s; -webkit-transition:0.1s; }
			#gallery li.loaded:hover img{ transform:scale(1.2); -webkit-transform:scale(1.2); }
			#gallery li.loaded.video:hover::before{ opacity:0; }
		


.our_work {
	background: url("/images/our_work-bg.png") no-repeat #001029 center 0;
	height: 301px;
}

.our_work-inner {
	padding-top: 28px;
	width: 1000px;
	margin: 0 auto;
}

.our_work-icon {
	background: url("/images/our_work-icons.png") no-repeat;
	width: 90px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 14px;
}

.our_work-icon.lead {
	background-position: -206px 0;
}

.our_work-icon.info {
	background-position: -580px 9px;
	width: 92px;
}

.our_work-icon.contract {
	background-position: -505px 9px;
	width: 75px;
}

.our_work-icon.prepay {
	background-position: 0 21px;
	width: 97px;
}

.our_work-icon.deliver {
	background-position: -393px 11px;
	width: 113px;
}

.our_work-icon.postpay {
	background-position: -296px 10px;
	width: 97px;
}

.our_work-icon.get {
	background-position: -97px 11px;
	width: 109px;
}

.our_work-inner li {
	float: left;
	width: 139px;
	text-align: center;
	position: relative;
	margin-right: 4px;
	margin-top: 34px;
}

.our_work-inner li i {
	top: 38px;
	position: absolute;
	background: url("/images/our_work-arrow.png");
	width: 31px;
	height: 25px;
	right: -18px;
}

.our_work-item {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}
	
.header-w {
	font-size: 33px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
	

.our-advantages-block {
	height: 585px;
	background: url("/images/advantage-block-bg.png") center 0 no-repeat;
	padding-top: 34px;
}

	.our-advantages {
		background: url("/images/advantage-bg.png") no-repeat 4px 0px;
		width: 1050px;
		margin: 0 auto;
		padding-top: 21px;
		padding-left: 36px;
		box-sizing: border-box;
	}
	
	.our-advantages-title {
		text-transform: uppercase;
		color: #a02223;
		font-size: 35px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 49px;
	}
	
	.our-advantages-list li {
		width: 246px;
		float: left;
		text-align: center;
	}

	.advantage-icon {
		background: url("/images/advantage-icons.png") no-repeat;
		width: 69px;
		height: 68px;
		margin: 0 auto;
		margin-bottom: 7px;
	}
	
	.advantage-icon.best-price {
		background-position: 0 -273px;
	}
	
	.advantage-icon.duration {
		background-position: 0 -409px;
	}
	
	.advantage-icon.doc-pack {
		background-position: 0 -477px;
	}
	
	.advantage-icon.logist {
		background-position: 0 -68px;
	}
	
	.advantage-icon.fix-price {
		background-position: 0 -136px;
	}
	
	.advantage-icon.quality {
		background-position: 0 -204px;
	}
	
	.advantage-icon.dropship {
		background-position: 0 -341px;
	}
	
	.advantage-title {
		color: #a02223;
		text-transform: uppercase;
		height: 40px;
		font-weight: bold;
		padding: 0 10px;
		font-size: 15px;
	}
	
	.advantage-text {
		color: #000;
		height: 120px;
		line-height: 17px;
		font-size: 15px;
		padding: 0 10px;
	}
	

	
	
.options-block {
	padding-top: 37px;
	background: url("/images/options-bg.png") no-repeat center 0;
	height: 513px;
}
	
	.options-container {
		width: 1004px;
		margin: 0 auto;
	}
	
		.options-container-title {
			font-size: 38px;
			text-align: center;
			font-weight: bold;
			letter-spacing: -1px;
			margin-bottom: 41px;
		}
		
		.options-form-block {
			background: url("/images/options-form-bg.png") no-repeat;
			height: 374px;
			padding-left: 21px;
		}
		
			.options-form-block .order-success {
				font-size: 70px;
				padding-top: 85px;
				text-align: center;
				color: #0AAD06;
				font-weight: bold;
				text-transform: uppercase;
			}
		
		.option-left {
			margin-right: 25px;
			float: left;
			width: 288px;
		}
		
		.option-center {
			float: left;
			width: 388px;
			padding-top: 38px;
		}
		
			.option-center-title {
				text-align: center;
				font-size: 19px;
				font-weight: bold;
				margin-bottom: 24px;
				padding-left: 28px;
			}
			
			.option-center li label span.option-price-wrap {
				font-weight: bold;
				float: right;
			}
			
			#options-list {
				margin-bottom: 16px;
			}
			
				#options-list li {
					overflow: hidden;
					padding-right: 10px;
					padding-left: 10px;
				}
				
				.option-radio {
					background: #fff;
				}
		
			.option-center-price {
				float: left;
				color: red;
				font-weight: bold;
				font-size: 18px;
			}
			
			.options-center-price-text {
				font-size: 15px;
				font-weight: bold;
				float: left;
				margin-right: 17px;
				margin-top: 2px;
			}
			
			.options-center-price-block {
				float: right;
			}
			
		.option-right {
			float: right;
			width: 248px;
			margin-right: 4px;
			padding-top: 16px;
			padding-left: 14px;
		}
		
			.option-form-name, .option-form-email, .option-form-phone, .option-form-textarea {
				position: relative;
			}
			
				.option-form-name label, .option-form-email label, .option-form-phone label, .option-form-textarea label {
					position: absolute;
					top: -16px;
					right: 0;
					font-size: smaller;
					z-index: 1;
					background: #fff;
					border-radius: 6px;
					padding: 1px 3px 0px 4px;
					color: red;
					border: 1px solid red;
				}
		
			.option-right input {
				width: 221px;
				margin-bottom: 13px;
				padding-left: 10px;
				line-height: 19px;
				border: 1px solid #c2c2c2;
				border-radius: 5px;
			}
			
			.option-right .option-form-submit {
				font-size: 19px;
				line-height: 23px;
				color: #fff;
				width: 230px;
				background: url("/images/option-submit.png") no-repeat 0 0;
				border: none;
				height: 28px;
				cursor: pointer;
				letter-spacing: 1.05px;
			}
			
			.option-form-submit:hover {
				background-position: 0 -27px;
			}
			
			.option-form-submit:active {
				background-position: 0 -54px;
			}
			
			.option-right textarea {
				width: 221px;
				border: 1px solid #c2c2c2;
				border-radius: 5px;
				padding-left: 10px;
				height: 193px;
				resize: none;
				padding-top: 3px;
				margin-bottom: 4px;
			}
			
		.option-image {
			margin-top: 16px;
		}
		
			.option-image img {
				border: 1px solid #b9b9b9;
				border-radius: 27px;
				width: 285px;
			}
	
			.option-info {
				font-size: 11px;
				font-weight: bold;
				margin-top: 6px;
				padding-left: 10px;
				line-height: 25px;
			}
			
			.option-info td:first-child {
				padding-right: 15px		}

			
			input[type="checkbox"] {
				position: absolute;
				left: -9999px;
			}
			
			input[type="checkbox"] + label {
				background: url("/images/check.png") 0 -60px no-repeat;
				padding-left: 28px;
				line-height: 33px;
				display: block;
				cursor: pointer;
				color: #666;
				font-size: 15px;
			}
			
			input[type="checkbox"]:checked + label,
			input[type="checkbox"]:checked:hover + label {
				background-position: 0 0px;
				color: #000;
			}
			
			input[type="checkbox"]:hover + label {
				background-position: 0 -29px;
				color: #000;
			}

.reviews {
	background: url("/images/reviews-bg.png") no-repeat center 0;
	height: 913px;
}

	.review-inner {
		width: 1000px;
		margin: 0 auto;
		padding-top: 51px;
		background: url("/images/reviews-under-bg.png") no-repeat 27px 172px;
		height: 825px;
		position: relative;
	}
	
		.review-inner-title {
			margin-bottom: 14px;
			text-align: center;
			font-size: 38px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		.review-item.left-col .reiview-image,
		.review-item.right-col .reiview-image {
			position: relative;
		}
		
		.review-item.left-col .reiview-image {
			float: left;
		}
		
		.review-item.right-col .reiview-image {
			float: right;
		}
		
		.review-item.left-col {
			width: 549px;
		}
		
		.review-item.left-col .review-name {
			padding-top: 85px;
			margin-left: 154px;
			margin-bottom: 36px;
		}
		
		.review-item.review1 .review-text {
			margin-left: 50px;
		}
		
		.review-item.review1 .photo-frame {
			position: absolute;
			top: -9px;
			left: -4px;
		}
		
		.client-photo {
			width: 146px;
			height: 143px;
			position: relative;
		}
		
		.review-inner .review2 {
			position: absolute;
			top: 272px;
			right: 0px;
			width: 536px;
		}
		
		.review-inner .review2 .photo-frame {
			position: absolute;
			top: -19px;
			left: -14px;
		}
		
		.review-item.right-col.review2 .review-name {
			margin-top: 86px;
			float: right;
			margin-right: 14px;
			text-align: right;
		}
		
		.review-item.right-col.review2 .review-text {
			float: right;
			margin-right: 40px;
			text-align: justify;
			margin-top: 10px;
		}
		
		.review-item.review3 {
			margin-top: 63px;
		}
	
		.review-item.review3 .photo-frame {
			position: absolute;
			top: -21px;
			left: -14px;
		}
		
		.review-item.review3 .review-text {
			margin-left: 51px;
		}
		
		.review-item.review4 {
			position: absolute;
			top: 596px;
			width: 528px;
			right: 0;
		}
		
		.review-item.review4 .photo-frame {
			position: absolute;
			top: -17px;
			right: 0;
		}
	
		.review-item.right-col.review4 .review-name {
			margin-top: 86px;
			float: right;
			margin-right: 14px;
			text-align: right;
		}

		.review-item.right-col.review4 .review-text {
			float: right;
			margin-right: 49px;
			text-align: justify;
			margin-top: 13px;
		}
	


.footer {
	background: url("/images/footer-bg-new.png") center 0 repeat-x #fff;
	padding-top: 28px;
	height: 838px;
}

	.footet-title {
		text-align: center;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.footer_feedback {
		width: 1000px;
		margin: 0 auto;
		padding: 15px 23px 0 15px;
		background: url("/images/footer-feedback-bg.png") no-repeat ;
		box-sizing: border-box;
		margin-bottom: 21px;
		border-radius: 12px;
		height: 228px;
	}
	
	.footer_feedback-manager {
		float: left;
	}
	
	.footer_feedback-manager img {
		border-radius: 4px;
		border: 1px solid rgba(255,255,255,0.4);
		width: 213px;
	}
	
	.manager-name {
		font-weight: bold;
		margin-bottom: 4px;
		font-size: 25px;
	}
	
	.footer_feedback-text {
		float: left;
		width: 355px;
		margin-left: 51px;
		font-size: 21px;
		line-height: 25px;
		text-align: center;
		padding-top: 19px;
	}

	.manager-range {
		padding: 0 10px;
	}

	.footer_feedback-bottom-text {
		font-size: 19px;
		margin-top: 33px;
		line-height: 22px;
	}

	.footer_feedback-form {
		float: right;
		width: 306px;
	}
	
	.footer_feedback-name {
		width: 100%;
	}
	
	.footer_feedback-form input {
		padding: 2px 7px;
		box-sizing: border-box;
		margin-bottom: 8px;
		border: 1px solid #ccc;
	}
	
	.footer_feedback-form input.error {
		background: pink;
	}
	
	.footer_feedback-form .input-field {
		position: relative;
	}
	
	.footer_feedback-form .input-field label {
		position: absolute;
		top: -16px;
		right: 0;
		font-size: smaller;
		z-index: 1;
		background: #fff;
		border-radius: 6px;
		padding: 1px 3px 0px 4px;
		color: red;
		border: 1px solid red;
	}
	
	.footer_feedback-form .input-field.phone {
		float: right;
		width: 150px;
	}
	
	.footer_feedback-form .input-field.email {
		float: left;
		width: 150px;
	}
	
	.footer_feedback-mess {
		width: 100%;
		height: 72px;
		resize: none;
		margin-bottom: 2px;
		padding: 2px 7px;
		box-sizing: border-box;
		border: 1px solid #ccc;
	}
	
	.footer_feedback-phone {
		float: right;
	}
	
	.footer_feedback-notice {
		text-align: center;
		padding-bottom: 7px;
		font-weight: bold;
		font-size: 15px;
		height: 19px;
	}
	
	.footer_feedback-submit {
		background: url("/images/footer-feedback-button.png") no-repeat;
		width: 205px;
		margin: 0 auto;
		display: block;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 28px;
		height: 32px;
		cursor: pointer;
	}
	
	.footer_feedback-submit:hover {
		background-position: 0 -32px ;
	}
	
	.footer_feedback-submit:active {
		margin-top: 1px;
		background-position: 0 -64px ;
	}
	
	.city-name {
		text-align: center;
		margin-bottom: 5px;
		
	}
	
	.city-name a {
		color: #808080;
	}
	
	.city-name .city-switcher,
	.city-phone .city-switcher {
		cursor: pointer;
	}
	
	.city-phone {
		font-weight: normal;
	}
	
	.active .city-name a {
		color: #fd0002;
	}
	
	.active .city-phone a {
		color: #000000;
	}
	
	.city-phone a {
		color: #808080;
	}
	
	.cityes-list {
		text-align: center;
		width: 1000px;
		margin: 0 auto;
		font-weight: bold;
		padding-top: 13px;
		background: transparent !important;
		
	}
	
		.cityes-list td {
			background: transparent !important;
		}
	
	.footer-transline {
		height: 8px;
		background: url("/images/footer-transline.png") center 0 no-repeat;
	}
	
	
	#YMapsID {
		width: 1000px;
		height: 256px;
		margin: 0 auto;
		-moz-border-radius: 25px 25px 25px 25px; /* Firefox */
		-webkit-border-radius: 25px 25px 25px 25px; /* Safari, Chrome */
		-khtml-border-radius: 25px 25px 25px 25px; /* KHTML */
		border-radius: 25px; /* CSS3 */
		overflow: hidden;
		position: relative;
		/* chrome bug fix */
		-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
		border: 6px solid #ed6361;
		margin-bottom: 9px;
	}
	
	.footer-cityes {
		margin-bottom: 16px;
		background: url("/images/footer-cityes-bg.png") no-repeat;
		height: 74px;
	}
	
	.footer-callback {
		margin: 0 auto;
		width: 1000px;
		margin-bottom: 15px;
	}
	
	.footer-callback-title {
		font-size: 36.2px;
		float: left;
		font-weight: bold;
		line-height: 42px;
	}
	
	.footer-callback-button {
		background: url("/images/footer-callback-but.png") no-repeat;
		width: 185px;
		height: 33px;
		float: right;
		font-size: 20px;
		margin-top: 3px;
		cursor: pointer;
	}
	
	.footer-callback-button:hover {
		background-position: 0 -33px
	}
	
	.footer-callback-button:active {
		background-position: 0 -66px
	}
	
	.footer-bottom {
		margin: 0 auto;
		width: 1000px;
		margin-top: 22px;
	}
	
	.footer-logo-block {
		float: left;
		width: 170px;
	}
	
	.footer-logo-block img{
		margin-left: 16px;
		margin-bottom: 8px;
	}
	
	.footer-logo-block a {
		font-size: 21px;
		font-weight: bold;
		line-height: 10px;
	}
	
	.footer-icons-block {
		float: right;
		width: 744px;
	}
	
	.footer-icons-remark {
		font-size: 32.6px;
		margin-top: 28px;
		color: #7abf26;
		float: right;
		margin-bottom: 18px;
	}
	
	.footer-icon {
		background: url("/images/footer-icons.png") no-repeat;
		float: left;
		height: 52px;
		width: 208px;
		font-size: 20px;
		padding-left: 72px;
	}
	
	.footer-icon.hight-quality {
		background-position: 0 0;
		padding-top: 13px;
		height: 39px;
		width: 204px;
	}
	
	.footer-icon.low-cost {
		background-position: 0 -52px;
	}
	
	.footer-icon.manuf-drop {
		background-position: 0 -104px;
		width: 116px;
		float: right;
		height: 41px;
		padding-top: 11px;
	}
	
	.footer-phone-notice {
		color: #7abf26;
		font-size: 19px;
		line-height: 20px;
	}
	
	.calc-form .input-field {
		position: relative;
	}
	
	.calc-form .input-field label {
		position: absolute;
		text-align: left;
		top: -6px;
		color: red;
		background: #fff;
		right: -68px;
		padding: 1px 6px 0px 6px;
		border: 1px solid red;
		border-radius: 7px;
		font-size: larger;
	}
	
	#YMapsID address a {
		color: #000;
	}
	
	.slider-img-loader {
		width: 353px;
		height: 236px;
		background: url("/images/loading.gif") no-repeat center;
	}
	
	.ymaps-block-address {
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		padding: 10px;
		color: #fff;
		box-sizing: border-box;
		z-index: 1;
		width: 100%;
	}
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
	
	
	
	